@model MVC.Models.IndexViewModel;
@{
    ViewData["Title"] = "Our Valuable Product";
}
<head>
<style>

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Many Product that You Can Buy</p>
    <br>
</div>
</head>
<div class="text-center">
                        <label>Sort</label>
                    <select name="Sort" id = "Sort">
                    <option value = "1">Name Asc</option>
                    <option value = "2">Name Desc</option>
                    <option value = "3">Price Asc</option>
                    <option value = "4">Price Desc</option>
                    </select>
                    <input type="submit" class="btn btn-primary" onclick="javascript: sort_btn(this)"> 
                        <label>Search</label>
                    <input name="Search" id="Search" placeholder="Search" style="width: 200px;" >
                    <input type="submit" class="btn btn-primary" onclick="javascript: search_btn(this)">
                        <label>Items</label>
                    <input name="Search" id="PerPage" placeholder="Items"style="position: relative;left:30px;width:50px;" >
                    <input type="submit" class="btn btn-success" style="position: relative;left:35px;" onclick="javascript: page_btn(this)">
</div>
<br>
<div class="text-center">
    @if (Model.Pager.EndPage > 1)
        {
            <ul class="pagination">
              <div>
                @for (var halaman = Model.Pager.StartPage; halaman <= Model.Pager.EndPage; halaman++)
                {
                        <a href="~/Home/Product?PerPage=@ViewBag.PerPage&Sort=@ViewBag.Sort&Search=@ViewBag.Search&page=@halaman">@halaman</a>
                }
              </div>
            </ul>
        }
</div>
<div>
@{
        var x = Model.Cookies;;
        foreach (var i in x)
        {
            <div class="responsive">
                <div class="gallery">
                <a href="https://localhost:5001/Product/Detail/@i.id">
                <img src="@i.foto" width="800" height="600">
                </a>
                <div class="desc">
                    <h6>@i.nama</h6>
                    <div class="text-right">
                    <h6>Rp.@i.harga,-</h6>
                    </div>
                    <h6>Buy It Now</h6>
                </div>
            </div>
        </div> 
        }   
}
</div>

<script type="text/javascript">
    function sort_btn()
    {
        var page = '@ViewBag.PerPage';
        var search = '@ViewBag.Search';
        var sort = document.getElementById('Sort').value;
        var path = '/Home/Product?Sort='+sort+'&Search='+search+'&PerPage'+page;
        window.location.href = path;
    }
    function search_btn()
    {
        var page = '@ViewBag.PerPage';
        var sort = '@ViewBag.Sort';
        var search = document.getElementById('Search').value;
        var path = '/Home/Product?Search='+search+'&Sort='+sort+'&PerPage'+page;
        window.location.href = path;
    }
    function page_btn()
    {
        var search = '@ViewBag.Search';
        var sort = '@ViewBag.Sort';
        var page = document.getElementById('PerPage').value;
        var path = '/Home/Product?PerPage='+page+'&Search='+search+'&Sort='+sort;
        window.location.href = path;
    }
</script>